*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: consolas;
}

body{
    width: 100%;
    min-height: 100vh;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scan{
    position: relative;
}

.scan .hand{
    position: relative;
    width: 500px;
    height: 500px;
    background: url(img/hand_02.png);
    background-size: 500px;
}

.scan .hand::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/hand_01.png);
    background-size: 500px;
    animation: animate_1 4s ease-in-out infinite;
}

@keyframes animate_1 {
    0%, 100%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
}

.scan .hand::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #3fe;
    animation: animate_2 4s ease-in-out infinite;
}

@keyframes animate_2 {
    0%, 100%{
        top: 0%;
    }
    50%{
        top: 100%;
    }
}

.scan .hand .lines{
    position: relative;
    width: 500px;
    height: 500px;
    background: url(img/lines.png);
    background-size: 500px;
    animation: animate_3 4s ease-in-out infinite;
}

@keyframes animate_3 {
    0%, 100%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
}

.scan .hand .lines::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/points.png);
    background-size: 500px;
    animation: animate_4 4s ease-in-out infinite;
}

@keyframes animate_4 {
    0%, 100%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
}

.scan h3{
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 30px;
    color: #3fe;
    animation: animate_5 350ms steps(1) infinite;
}

@keyframes animate_5 {
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}